@model Emp

<form method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" asp-for="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
        <span asp-validation-for="name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">ID</label>
        <input type="text" class="form-control" asp-for="id" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter ID">
        <span asp-validation-for="id" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Salary</label>
        <input type="text" class="form-control" asp-for="salary" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Salary">
        <span asp-validation-for="salary" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if(Model!=null)
{
    @Model.id <br>
    @Model.name <br />
    @Model.salary
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial"></partial>
}